@mixin headerSize {
    font-size: $sizeHeader;
    padding: 15px;
    list-style: none;
}

@mixin flex{
    display: flex;
    flex-direction: $flexDirection2;
    align-items: $align;
}

@mixin flex2 {
    display: flex;
    flex-direction: $flexDirection
}

@mixin cards {
    color: $color;
    justify-content: $justify;
    flex-wrap: $wrap;
    width: 85%;
    display: $display;
    margin: 10px auto;
    padding: 20px;

}

@mixin cardH3 {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: $transform;
    text-align: $align;
    color:$colorM;

}
