// header
$sizeHeader: 20px;
$flexDirection: row;
$flexDirection2: column;
$align: center;
$display: flex;
//main
$color: white;
$justify: space-around;
$wrap: wrap;
$transform: translate(-50%, -50%);
$colorM: black;
